# Introduction to Python Variables: Assigning Values with Different Data Types

Objective:
1. Assign a string variable and print it.
2. Assign an integer variable and print it.
3. Assign a float variable and print it.
4. Use a boolean variable to store True or False values based on a condition.
5. Store multiple values in a list variable.
6. Use a dictionary to store key-value pairs for more complex data.
7 Assign multiple variables at once for concise code.

1: Create and Assign String Variables

A string is a sequence of characters. Here, city_name is assigned the string "City A" and printed.

In [1]:
3<<4

48

In [7]:
48>>2

12

In [1]:
def name():
    print(';')

In [1]:
num = 10
bvar = True
svar = 'BIET'

In [3]:
type(num)

int

In [5]:
fnum = float(num)

In [11]:
print(fnum, type(fnum))

10.0 <class 'float'>

In [2]:
print('VU', end = '-Pune')

VU-Pune

In [4]:
print("this is VU", "Pune", sep="-")

this is VU-Pune

In [10]:
n = 11

print("the value of n is:", n)

the value of n is: 11

In [12]:
print(f"the value {n} is assigned to the variable n")

the value 11 is assigned to the variable n

In [15]:
type(n)

int

In [21]:
n = float(n)

In [23]:
type(n)

float

In [22]:
d = 3.4
type(d)

float

In [32]:
''' string = 'welcome to the green ai workshop!'
type(string)'''

" string = 'welcome to the green ai workshop!'\ntype(string)"

In [ ]:
# Create a string variable
city_name = "City A"

# Print the value of the string variable
print(f"City Name: {city_name}")

City Name: City A

2: Create and Assign Integer Variables

An integer is a whole number without decimals. We assign the integer 25 to the variable temperature and print it.

In [ ]:
# Create an integer variable for temperature
temperature = 25

# Print the value of the integer variable
print(f"Temperature: {temperature}째C")

Temperature: 25째C

3: Create and Assign Float (Decimal) Variables
    
A float is a number that can have a decimal point. Here, carbon_footprint is assigned a floating-point value of 500.75 and printed.

In [ ]:
# Create a float variable for carbon footprint
carbon_footprint = 500.75  # kg CO2

# Print the value of the float variable
print(f"Carbon Footprint: {carbon_footprint} kg CO2")

Carbon Footprint: 500.75 kg CO2

4: Create and Assign Boolean Variables
    
A boolean can be either True or False.
Here, the variable is_sustainable is assigned based on whether the carbon_footprint is less than 400, which is False in this case.

In [ ]:
# Create a boolean variable to indicate if the city is sustainable
is_sustainable = carbon_footprint < 400  # This will be False because 500.75 > 400

# Print the value of the boolean variable
print(f"Is the city sustainable? {is_sustainable}")

Is the city sustainable? False

5: Create and Assign List Variables
    
A list is a collection of items (values) stored in a single variable. Here, weekly_temperatures contains a list of integers representing temperatures recorded over a week.

In [14]:
# Create a list variable for temperatures recorded in the city over a week
weekly_temperatures = [25, 27, 28, 26, 24, 30, 29]

# Print the list
print(f"Weekly Temperatures: {weekly_temperatures}")

weekly_temperatures.remove(25)
print(f"Update:1 Weekly Temperatures: {weekly_temperatures}")

weekly_temperatures.append(25)
print(f"Update:2 Weekly Temperatures: {weekly_temperatures}")

Weekly Temperatures: [25, 27, 28, 26, 24, 30, 29]
Update:1 Weekly Temperatures: [27, 28, 26, 24, 30, 29]
Update:2 Weekly Temperatures: [27, 28, 26, 24, 30, 29, 25]

In [27]:
weekly_temperatures.insert(0, 23)
print(f"Update:3 Weekly Temperatures: {weekly_temperatures}")

Update:3 Weekly Temperatures: [23, 27, 28, 26, 24, 30, 29, 25]

In [29]:
tuple_wt = tuple(weekly_temperatures)
tuple_wt.insert(0, 23)
print(f"Update:4 Weekly Temperatures: {tuple_wt}")

AttributeError: 'tuple' object has no attribute 'insert'

6: Create and Assign Dictionary Variables
    
A dictionary stores data in key-value pairs. Here, city_data holds information about the city, including its name, temperature, carbon footprint, and sustainability status.

In [19]:
# Create a dictionary variable to store city data
city_data = {
    "name": "City A",
    "temperature": 25,
    "carbon_footprint": 500.75,
    "is_sustainable": False
}

# Print the dictionary
print(f"City Data: {city_data}")

City Data: {'name': 'City A', 'temperature': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}

In [21]:
city_data['AQI'] = 90
print(f"Update:1 City Data: {city_data}")

Update:1 City Data: {'name': 'City A', 'temperature': 25, 'carbon_footprint': 500.75, 'is_sustainable': False, 'AQI': 90}

In [23]:
del city_data['temperature']
print(f"Update:2 City Data: {city_data}")

Update:2 City Data: {'name': 'City A', 'carbon_footprint': 500.75, 'is_sustainable': False, 'AQI': 90}

In [25]:
from collections import OrderedDict

city_data = OrderedDict(city_data)  # Convert your dictionary to an OrderedDict
city_data['name'] = 'Davangere'          # Add your key-value pair
city_data.move_to_end('name', last=False)  # Move it to the beginning (index 0)

print(f"Update:3 City Data: {dict(city_data)}")

Update:3 City Data: {'name': 'Davangere', 'carbon_footprint': 500.75, 'is_sustainable': False, 'AQI': 90}

7: Assigning Multiple Variables at Once
    
Python allows assigning multiple variables in one line. Here, we assign values to city_name, temperature, and carbon_footprint at the same time.

In [ ]:
# Assign multiple variables at once
city_name, temperature, carbon_footprint = "City B", 30, 350.50

# Print the values
print(f"City Name: {city_name}, Temperature: {temperature}째C, Carbon Footprint: {carbon_footprint} kg CO2")

City Name: City B, Temperature: 30째C, Carbon Footprint: 350.5 kg CO2

### Conclusion:

    Objective 1: Assign a string variable and print it.
    Objective 2: Assign an integer variable and print it.
    Objective 3: Assign a float variable and print it.
    Objective 4: Use a boolean variable to store True or False values based on a condition.
    Objective 5: Store multiple values in a list variable.
    Objective 6: Use a dictionary to store key-value pairs for more complex data.
    Objective 7: Assign multiple variables at once for concise code.

These code examples in python show us how to create and assign values to different data types, with simple comments explaining each step.