In [11]:
import pandas as pd
import numpy as np

In [12]:
idf = pd.read_csv('iris.csv')

In [13]:
idf.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [14]:
idf.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [15]:
idf[["SepalLengthCm", 'Species']].head()

   SepalLengthCm      Species
0            5.1  Iris-setosa
1            4.9  Iris-setosa
2            4.7  Iris-setosa
3            4.6  Iris-setosa
4            5.0  Iris-setosa

In [16]:
idf.shape

(150, 6)

In [17]:
data = {
    "Energy Source": ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass", "Nuclear"],
    "Energy Consumption (MWh)": [1200, np.nan, 2900, np.nan, 2500, 3200],
    "Cost (Million $)": [200, 400, np.nan, 150, 250, np.nan]
}

In [18]:
df  = pd.DataFrame(data)

In [19]:
df

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [20]:
df.describe()

       Energy Consumption (MWh)  Cost (Million $)
count                  4.000000          4.000000
mean                2450.000000        250.000000
std                  881.286938        108.012345
min                 1200.000000        150.000000
25%                 2175.000000        187.500000
50%                 2700.000000        225.000000
75%                 2975.000000        287.500000
max                 3200.000000        400.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Energy Source             6 non-null      object
 1   Energy Consumption (MWh)  4 non-null      float64
 2   Cost (Million $)          4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 276.0+ bytes

In [22]:
df.shape

(6, 3)

In [23]:
df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0

In [24]:
df.tail()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [25]:
df.isnull().sum()

Energy Source               0
Energy Consumption (MWh)    2
Cost (Million $)            2
dtype: int64

In [26]:
df[1:4]

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0

In [27]:
# df = df.dropna(axis=0)
# df

In [28]:
df.fillna(0)

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       0.0             400.0
2    Hydropower                    2900.0               0.0
3    Geothermal                       0.0             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               0.0

In [29]:
ec_m = df['Energy Consumption (MWh)'].mean()
print("Mean of Energy Consumption (MWh): ",ec_m)

Mean of Energy Consumption (MWh):  2450.0

In [30]:
c_m = df['Cost (Million $)'].mean()
print("Mean of Cost (Million $): ",c_m)

Mean of Cost (Million $):  250.0

In [31]:
df.isnull()

   Energy Source  Energy Consumption (MWh)  Cost (Million $)
0          False                     False             False
1          False                      True             False
2          False                     False              True
3          False                      True             False
4          False                     False             False
5          False                     False              True

## outlier - 3*standard deviation
### ffill(forward fill) and bfill(backward)

In [32]:
df.ffill()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    1200.0             400.0
2    Hydropower                    2900.0             400.0
3    Geothermal                    2900.0             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0             250.0

In [33]:
df.bfill()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2900.0             400.0
2    Hydropower                    2900.0             150.0
3    Geothermal                    2500.0             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [34]:
df['Energy Consumption (MWh)'] = df['Energy Consumption (MWh)'].fillna(ec_m)

In [35]:
df['Cost (Million $)'] = df['Cost (Million $)'].fillna(c_m)

In [36]:
df

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2450.0             400.0
2    Hydropower                    2900.0             250.0
3    Geothermal                    2450.0             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0             250.0

#### 1)normalization 
#### (bet 0-1)minmaxscaler = (xi-xmin)/(xmax - xmin)

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
# energy_df = pd.DataFrame(data)
# from sklearn.preprocessing import MinMaxScaler

In [37]:
scaler = MinMaxScaler()
df[["Energy Consumption (MWh)","Cost (Million $)"]] = scaler.fit_transform(df[["Energy Consumption (MWh)", "Cost (Million $)"]])
df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                     0.000               0.2
1          Wind                     0.625               1.0
2    Hydropower                     0.850               0.4
3    Geothermal                     0.625               0.0
4       Biomass                     0.650               0.4

#### 2)(meu-mean=0,std-sigma=1)standardization/Z-score scalar = xi -meu/sigma

In [38]:
from sklearn.preprocessing import StandardScaler

In [40]:
scaler  = StandardScaler()

In [41]:
df[["Energy Consumption (MWh)","Cost (Million $)"]] = scaler.fit_transform(df[["Energy Consumption (MWh)", "Cost (Million $)"]])
df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar             -2.005893e+00     -6.546537e-01
1          Wind              3.563181e-16      1.963961e+00
2    Hydropower              7.221213e-01      1.817029e-16
3    Geothermal              3.563181e-16     -1.309307e+00
4       Biomass              8.023570e-02      1.817029e-16

#### 3)roboscalar

#### Encoding categorical Varialbels

In [43]:
energy_en_df = pd.get_dummies(df,columns=["Energy Source"])

print("data one-hot Encoding categorical Variables: ",energy_en_df)

data one-hot Encoding categorical Variables:     Energy Consumption (MWh)  Cost (Million $)  Energy Source_Biomass  \
0             -2.005893e+00     -6.546537e-01                  False
1              3.563181e-16      1.963961e+00                  False
2              7.221213e-01      1.817029e-16                  False
3              3.563181e-16     -1.309307e+00                  False
4              8.023570e-02      1.817029e-16                   True
5              1.203536e+00      1.817029e-16                  False

   Energy Source_Geothermal  Energy Source_Hydropower  Energy Source_Nuclear  \
0                     False                     False                  False
1                     False                     False                  False
2                     False                      True                  False
3                      True                     False                  False
4                     False                     False                  False
5                     False                     False                   True

   Energy Source_Solar  Energy Source_Wind
0                 True               False
1                False                True
2                False               False
3                False               False
4                False               False
5                False               False